#root {
  margin: 0;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

header{
  position: sticky;
  margin-top: 1rem;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 100px 25px #000000;
  background-color: var(--bg-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 95%;
}

header a:hover{
  filter: none;
}

#menuicon{
  font-size: 2.5rem;
  display: none;
}

.Fullname {
  display: flex;
  padding-left: 1rem;
}

.name {
  padding: 0 10px 0 10px;
}

nav{
  display: flex;
  align-items: center;
  padding-right: 30px;
}

nav a {
  margin: 0 10px 0 20px;
  border-bottom: 3px solid transparent;
}

nav a:hover{
  border-bottom: 3px solid var(--main-color);
}

.h1color {
  color: var(--main-color);
  will-change: filter;
  transition: filter 300ms;
}

.h1color:hover {
  filter: drop-shadow(0 0 1em var(--main-color));
  
}

.h1color.react:hover {
  filter: drop-shadow(0 0 1em var(--main-color));
}

button{
  font-size: x-large;
}

.buttonHover{
  color: black;
  border-color: var(--main-color);
  background-color: var(--main-color);
  transition: filter 300ms;
}

.buttonHover:hover{
  transition: 50ms ease-in-out;
  transform: scale(1.05);
}

button {
  border-radius: 25px;
  margin-inline: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--second-text-color);
  border-color: var(--main-color);
  background-color: var(--main-color);
  filter: drop-shadow(0 0 1em var(--main-color));
  transition: filter 300ms;
  transition: 50ms ease-in-out;
  transform: scale(1.05);
}

body {
  width: 100;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* ---------- home ---------- */

.ContainerHome{
  display: flex;
  margin-block: 7vh;
  height: 80vh;
  padding-left: 1rem;
}

.About{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 1vw;
}

.titulos{
  display: flex;
}

.titulos h1{
  padding: 0 10px 0 5px;
}

.h1texted{
  color: var(--main-color);
  will-change: filter;
}

.texted::before{
  content: "Web Developer";
  animation: words 20s infinite;
}

.texted::after{
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% -13px);
  height: 110%;
  border-left: 3px solid var(--bg-color);
  right: -13px;
  animation: cursor 600ms infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20%{
    content: "Fontend Desinger";
  }
  21%,
  40%{
    content: "web Designer";
  }
  41%,
  60%{
    content: "UI / UX Designer";
  }
  61%,
  80%{
    content: "Web Developer";
  }
  81%,
  100%{
    content: "Software Tester";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width: calc(100% + 8px);
  }
}

.About p{
  padding: 20px 20px;
}

.Social .icon{
  margin: 0 10px 30px;
  color: var(--main-color);
  cursor: pointer;
}

.Social .icon:hover{
  transition: 300ms ease-in-out;
  transform: scale(1.3)translateY(-5px);
  box-shadow: 0 0 1.5em var(--main-color);
}


.Profile{
  border-radius: 50%;
  padding-inline: 8vw;
  align-self: center;
}

.Profile img{
  position: relative;
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.Profile img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}

/* ---------- Education ---------- */

.ContainerEducation{
  width: 100%;
  margin: 1rem 0;
  padding: 30px 0 80px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--second-bg-color);
}

.ContainerEducation h1{
  font-size: 5rem;
  padding-top: 80px;
  padding-bottom: 20px;
}

.Timeline{
  max-width: 75vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.Timeline::before{
  content: "";
  position: absolute;
  width: .2vw;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - .1vw);
}

.Item{
  margin-bottom: 40px;
  position: relative;
}

.Item:last-child{
  margin-bottom: 0;
}

.Item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}

.Item:nth-child(even){
  padding-left: calc(50% + 30px);
}

.Dot{
  height: 1.2vw;
  width: 1.2vw;
  position: absolute;
  left: calc(50% - .6vw);
  top: 9px;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
}

.Date{
  font-size: 1vw;
  font-weight: 800;
  color: var(--text-color);
  margin: 6px 0 15px;
}

.Content{
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.ContentL{

  view-timeline-name: --Item;
  view-timeline-axis: block;

  animation-timeline: --Item;
  animation-name: showOnL;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;

}

@keyframes showOnL {
  from {
    opacity: 0;
    scale: 35%;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.ContentR{

  view-timeline-name: --Item;
  view-timeline-axis: block;

  animation-timeline: --Item;
  animation-name: showOnR;

  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;

}

@keyframes showOnR {
  from {
    opacity: 0;
    scale: 35%;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.Content:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.Content h3{
  margin: 0 0 10px;
}

.Content p{
  font-size: .8vw;
  font-weight: 300;
}

/* ---------- Services ---------- */

.ContainerServices{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 15vh;
}

.ContainerServices h1{
  font-size: 5rem;
  padding-top: 80px;
  padding-bottom: 20px;
}

.ContServ{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1vw 1vw;
  padding: 1vw 18vw;
}

.CardServ{
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  border-radius: 2vw;
  cursor: pointer;
  padding-inline: 1.5vw;
  padding-block: 2.5vw;
  transition: 300ms ease-in-out;
}

.CardServ:hover{
  background-color: var(--second-bg-color);
  transform: scale(1.03);
}

.CardServ h3{
  color: var(--second-text-color);
  font-size: large;
  font-weight: 800;
}

.CardServ:hover h3{
  color: var(--text-color);
}

.CardServ p{
  color: var(--second-text-color);
  font-size: small;
  margin-block: 1vh;
}

.CardServ:hover p{
  color: var(--text-color);
}

/* ---------- Skills ---------- */

.ContainerSkills{
  width: 100%;
  margin: 1rem 0;
  padding: 30px 0 80px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--second-bg-color);
  --icons-portfolio: 8;
  --icons-office: 4;
  --icons-other: 4;
}

.ContainerSkills h1{
  font-size: 5rem;
  padding-top: 10vh;
}

.ContainerSkills h2{
  padding: 5vh 0 2vh;
  
}

.wrapper_Portfolio{
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  margin-inline: auto;
  width: calc(5rem * var(--icons-portfolio));
  height: calc(6rem);

  -webkit-mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );

  mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );
}

.wrapper_Design{
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  margin-inline: auto;
  width: calc(5rem * var(--icons-design));
  height: calc(6rem);

  -webkit-mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );

  mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );
}

.wrapper_Office{
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  margin-inline: auto;
  width: calc(5rem * var(--icons-office));
  height: calc(6rem);

  -webkit-mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );

  mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );
}

.wrapper_Other{
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  margin-inline: auto;
  width: calc(5rem * var(--icons-other));
  height: calc(6rem);

  -webkit-mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );

  mask-image: linear-gradient(to right,
  transparent 0%,
  white 30%,
  white 70%,
  transparent 100%
  );
}

.wrapper_Portfolio:hover .logo_L{
  animation-play-state: paused!important;
}

.wrapper_Design:hover .logo_R{
  animation-play-state: paused!important;
}

.wrapper_Office:hover .logo_L{
  animation-play-state: paused!important;
}

.wrapper_Other:hover .logo_R{
  animation-play-state: paused!important;
}

.logo_L{
  position: absolute;
  padding: 2vh 2vw;
  left: 100%;
  animation: scroll_L 8s linear infinite;
}

.logo_R{
  position: absolute;
  padding: 2vh 2vw;
  right: 100%;
  animation: scroll_R 8s linear infinite;
}

@keyframes scroll_L {
  to{
    left: -20%;
  }
}

@keyframes scroll_R {
  to{
    right: -18%;
  }
}

.logo1_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 1) * -1);
}

.logo2_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 2) * -1);
}

.logo3_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 3) * -1);
}

.logo4_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 4) * -1);
}

.logo5_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 5) * -1);
}

.logo6_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 6) * -1);
}

.logo7_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 7) * -1);
}

.logo8_Portafolio{
  animation-delay: calc(8s / var(--icons-portfolio) * (var(--icons-portfolio) - 8) * -1);
}

.logo1_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 1) * -1);
}

.logo2_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 2) * -1);
}

.logo3_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 3) * -1);
}

.logo4_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 4) * -1);
}

.logo5_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 5) * -1);
}

.logo6_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 6) * -1);
}

.logo7_Design{
  animation-delay: calc(8s / var(--icons-design) * (var(--icons-design) - 7) * -1);
}

.logo1_Office{
  animation-delay: calc(8s / var(--icons-office) * (var(--icons-office) - 1) * -1);
}

.logo2_Office{
  animation-delay: calc(8s / var(--icons-office) * (var(--icons-office) - 2) * -1);
}

.logo3_Office{
  animation-delay: calc(8s / var(--icons-office) * (var(--icons-office) - 3) * -1);
}

.logo4_Office{
  animation-delay: calc(8s / var(--icons-office) * (var(--icons-office) - 4) * -1);
}

.logo5_Office{
  animation-delay: calc(8s / var(--icons-office) * (var(--icons-office) - 5) * -1);
}

.logo1_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 1) * -1);
}

.logo2_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 2) * -1);
}

.logo3_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 3) * -1);
}

.logo4_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 4) * -1);
}

.logo5_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 5) * -1);
}

.logo6_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 6) * -1);
}

.logo7_Other{
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 7) * -1);
}

.logo8_Other{
  filter: grayscale(80%);
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 8) * -1);
}

.logo9_Other{
  filter: grayscale(80%);
  animation-delay: calc(8s / var(--icons-other) * (var(--icons-other) - 9) * -1);
}

.logo1_Portfolio:hover{
  transform: scale(1.5);
}

.logo2_Portfolio:hover{
  transform: scale(1.5);
}

.logo3_Portfolio:hover{
  transform: scale(1.5);
}

.logo4_Portfolio:hover{
  transform: scale(1.5);
}

.logo5_Portfolio:hover{
  transform: scale(1.5);
}

.logo6_Portfolio:hover{
  transform: scale(1.5);
}

.logo7_Portfolio:hover{
  transform: scale(1.5);
}

.logo1_Design:hover{
  transform: scale(1.5);
}

.logo2_Design:hover{
  transform: scale(1.5);
}

.logo3_Design:hover{
  transform: scale(1.5);
}

.logo4_Design:hover{
  transform: scale(1.5);
}

.logo5_Design:hover{
  transform: scale(1.5);
}

.logo6_Design:hover{
  transform: scale(1.5);
}

.logo7_Design:hover{
  transform: scale(1.5);
}

.logo1_Office:hover{
  transform: scale(1.5);
}

.logo2_Office:hover{
  transform: scale(1.5);
}

.logo3_Office:hover{
  transform: scale(1.5);
}

.logo4_Office:hover{
  transform: scale(1.5);
}

.logo5_Office:hover{
  transform: scale(1.5);
}

.logo1_Other:hover{
  transform: scale(1.5);
}

.logo2_Other:hover{
  transform: scale(1.5);
}

.logo3_Other:hover{
  transform: scale(1.5);
}

.logo4_Other:hover{
  transform: scale(1.5);
}

.logo5_Other:hover{
  transform: scale(1.5);
}

.logo6_Other:hover{
  transform: scale(1.5);
}

.logo7_Other:hover{
  transform: scale(1.5);
}

.logo8_Other:hover{
  transform: scale(1.5);
}

.logo9_Other:hover{
  transform: scale(1.5);
}



/* ---------- Contact ---------- */

.ContainerContact{
  width: 100%;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.ContainerContact h1{
  font-size: 5rem;
  padding-top: 80px;
  padding-bottom: 20px;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin: 8rem 0 15rem 0;
}

.input-group input::placeholder{
  font-size: large;
}

.input-message textarea::placeholder{
  font-size: x-large;
}

.input-group{
  display: flex;
  flex-flow: column;
}

.input-group input{
  margin: 10px;
  width: 25vw;
  height: 4rem;
  padding-inline: 20px;
  color: var(--text-color);
  font-size: large;
  border: 1.5px solid var(--main-color);
  background-color: var(--bg-color);
  resize: none;
  border-radius: .5rem;
}

.input-group input::-webkit-inner-spin-button,
.input-group input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  appearance: none;
}

.input-message{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message{
  width: 35vw;
  padding: 20px;
  margin-bottom: 40px;
  color: var(--text-color);
  font-size: x-large;
  border: 1.5px solid var(--main-color);
  background-color: var(--bg-color);
  border-radius: 1rem;
  resize: none;
}

.button-contact {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  max-width: 15rem;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.button-contact:hover {
  color: var(--second-text-color);
  border-color: var(--main-color);
  background-color: var(--main-color);
  filter: drop-shadow(0 0 1em var(--main-color));
  transition: filter 300ms;
}

/* ---------- Footer ---------- */

footer{
  display: flex;
  flex-direction: column;
  place-items: center;
}

footer p{
  font-size: small;
  margin-bottom: 30px;
}

/* --------- MEDIA QUERIES --------- */

@media (max-width: 1024px){

  #menuicon{
    display: block;
  }
  
  header{
    position: sticky;
    margin-top: 1rem;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 100px 25px #000000;
    background-color: var(--bg-color);
    opacity: 95%;
  }

  header a:hover{
    filter: none;
  }
  
  .Fullname {
    display: flex;
    padding-left: 1rem;
  }

  .name {
    padding: 0 10px 0 10px;
  }

  i{
    margin: 10px 10px 0 0;
  }

  nav{
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 30%;
    padding: 1rem 3%;
    margin-top: 1vh;
    background-color: var(--bg-color);
    box-shadow: -5px 7px 10px 10px #000000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: none;
  }

  .navactive{
    display: flex;
  }

  nav a {
    font-size: medium;
    padding-block: 25px;
    border-bottom: 3px solid transparent;
  }

  nav a:hover{
    border-bottom: 3px solid var(--main-color);
  }

  .h1color {
    color: var(--main-color);
    will-change: filter;
    transition: filter 300ms;
  }
  .h1color:hover {
    filter: drop-shadow(0 0 1em var(--main-color));

  }
  .h1color.react:hover {
    filter: drop-shadow(0 0 1em var(--main-color));
  }

  .buttonHover{
    color: black;
    border-color: var(--main-color);
    background-color: var(--main-color);
    transition: filter 300ms;
  }

  .buttonHover:hover{
    transition: 50ms ease-in-out;
    transform: scale(1.05);
  }

  body {
    width: 100;
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  /* ---------- home ---------- */

  .ContainerHome{
    height: 100%;
    padding: 0;
    margin: 5vh 0 10vh;
    flex-direction: column-reverse;
  }

  .Profile img{
    width: 50vw;
  }

  .About{
    display: flex;
    align-items: center;
    margin-top: 8vh;
    margin-left: 0;
  }

  .titulos h1{
    font-size: 5vw;
  }

  .About p{
    padding: 5vw 10vw;
    font-size: small;
  }

  .Social .icon{
    margin-block: 1vh;
    margin-inline: 8px; 
  }

  .Bodybuttons{
    margin-block: 5vh;
  }

  /* ---------- Education ---------- */

  .Timeline::before{
    left: .1vw;
  }

  .Item:nth-child(odd){
    padding-right: 0;
    text-align: left;
  }

  .Item:nth-child(odd),
  .Item:nth-child(even){
    padding-left: 3vw;
  }

  .Dot{
    height: 1.6vw;
    width: 1.6vw;
    left: -.59vw;
  }

  .Date{
    font-size: medium;
    font-weight: 800;
    color: var(--text-color);
    margin: 6px 0 15px;
  }

  .Content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 300ms ease-in-out;
  }

  .ContentL{
    animation-name: showOnR;
  }

  .Content p{
    font-size: medium;
  }

  /* ---------- Services ---------- */

  .ContainerServices{
    padding-block: 5vh 8vh;
  }

  .ContainerServices h1{
    padding-top: 0px;
    padding-bottom: 80px;
  }

  .ContServ{
    grid-template-columns: repeat(1,1fr);
    gap: 3vw;
    padding: 1vw 20vw;
  }

  .CardServ{
    padding-block: 2vw;
    padding-inline: 4vw;
  }

  .CardServ h3{
    margin: 1vh 0 1vh;
    text-align: center;
  }

  /* ---------- Skills ---------- */

  .wrapper_Portfolio{
    width: calc(8vw * var(--icons-portfolio));
    height: calc(6rem);
  }

  .wrapper_Design{
    width: calc(8vw * var(--icons-design));
    height: calc(6rem);
  }

  .wrapper_Office{
    width: calc(8vw * var(--icons-office));
    height: calc(6rem);
  }

  .wrapper_Other{
    width: calc(8vw * var(--icons-other));
    height: calc(6rem);
  }

  /* ---------- Contact ---------- */

  .ContainerContact h1{
    font-size: 10vw;
    padding-top: 0;
    padding-bottom: 0;
  }

  form{
    flex-direction: column;
    margin: 8rem 0 0 0;
  }

  .input-group input{
    width: 38vw;
  }

  .message{
    width: 38vw;
  }

  .button-contact {
    font-size: x-large;
  }

  /* ---------- Footer ---------- */
  footer p{
    font-size: x-small;
    margin-top: 20px;
  }

}

@media (max-width: 550px) {

  header{
    margin-top: 0;
  }

  button{
    font-size: medium;
  }

  .Fullname h2{
    font-size: small;
  }

  .movilmenu{
    margin: 0;
  }

  .titulos h1{
    font-size: x-large;
  }

  .About p{
    font-size: x-small;
  }

  .Bodybuttons{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  
  .ContainerEducation{
    margin: 0;
    padding: 0 0 8vh;
  }

  .ContainerEducation h1{
    font-size: xx-large;
    padding-block: 20px;
  }

  .Timeline{
    max-width: 85vw;
  }

  .Content h3{
    font-size: large;
  }

  .Content p {
    font-size: small;
  }

  .ContainerServices h1 {
    font-size: xx-large;
  }

  .CardServ h3{
    font-size: medium;
  }

  .CardServ p{
    font-size: x-small;
  }

  .ContainerSkills h1 {
    font-size: xx-large;
  }

  .ContainerSkills h2{
    font-size: small;
  }

  .wrapper_Portfolio{
    height: calc(4rem);
    width: calc(10vw* var(--icons-portfolio));
  }

  .wrapper_Design{
    height: calc(4rem);
    width: calc(10vw* var(--icons-design));
  }

  .wrapper_Office{
    height: calc(4rem);
    width: calc(10vw* var(--icons-office));
  }

  .wrapper_Other{
    height: calc(4rem);
    width: calc(10vw* var(--icons-other));
  }

  .ContainerContact{
    margin: 0;
    padding-top: 15vh;
  }

  form{
    margin-top: 10vh;
  }

  .input-group input {
    height: 6vh;
  }

  .message{
    margin-bottom: 2vh;
  }

  .button-contact {
    font-size: medium;
  }

  footer p{
    margin-top: 5vh;
  }
}